extends ../layout

block content
  .container
    .row(style="margin-bottom:70px")
      each item in movies
        .col-md-2
          .thumbnail
            a(href="/movie/#{item._id}",target="_blank")
              img(src="#{item.poster}",alt="#{item.title}",title="#{item.title}")
            .caption
              h3 #{item.title}
              p: a.btn.btn-primary(href="/movie/#{item._id}",role="button",target="_blank")
                   span.glyphicon.glyphicon-zoom-in 观看预告片